html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}


 /* header styles */

 header {
   background-color: teal;
   color: black;
   padding: 1rem;
   margin-bottom: 1rem;
   text-align: center;
}

nav {
   padding-top: 1rem;
   list-style-type: none;
   padding-right: 80rem;
   padding-top: -7rem;
}

nav ul li:hover{
  background-color: teal;
}

nav ul a:hover{
  color: white;
}
nav ul li{
   list-style: none;
   margin-top: 15px;
   text-align: right;
}

nav ul li a{
  text-decoration: none;
  color: teal;
}

img {
   padding-left: 11rem;
   width: 250px;
   height: 150px;
   margin-top: -7.5rem;
}

.p1 {
  margin-top: -9rem;
  margin-left: 28rem;
  font-size: 19px;
}

.p2{
  margin-left: 28rem;
  margin-top: 1rem;
  font-size: 19px;
}

.p3{
  margin-left: 11rem;
  margin-top: 2rem;
  font-size: 19px;
}

footer{
  background-color: teal;
  padding: 0.5rem;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h2 {
  margin-top: -6rem;
  margin-left: 11rem;
}

.p4{
  margin-left: 11rem;
  margin-top: 1rem;
}

h3 {
  margin-top: -6rem;
  margin-left: 11rem;
  font-size: 20px;
}

form {
  margin-left: 11rem;
}

 @media screen and (max-width: 600px) {
   
 }
