html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}


 /* header styles */

header{
  background-color: teal;
  text-align: center;
  padding: 1rem;
}

ul li{
  list-style: none;
  padding: 9px;
  text-align: right;
  padding-right: 75rem;
}

ul li a{
  color: teal;
  text-decoration: none;
}

.img{
  display: inline-block;
  width: 250px;
  height: 150px;
  margin-left: 230px;
  margin-top: -115px;
}

.p1 {
  margin-top: -9.5rem;
  margin-left: 31rem;
  font-size: 19px;
}


.p2{
  margin-left: 31rem;
  margin-top: 1rem;
  font-size: 19px;
}


.p3{
  margin-left: 14.5rem;
  margin-top: 2rem;
  font-size: 19px;
}


footer{
  background-color: teal;
  padding: 0.5rem;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}


h2 {
  margin-top: -7rem;
  margin-left: 15rem;
}


.p4{
  margin-left: 15rem;
  margin-top: 1rem;
  font-size: 19px;
}


h3 {
  margin-top: -7rem;
  margin-left: 15rem;
  font-size: 20px;
}


form {
  margin-left: 15rem;
}
